$alternate-color: orange;
$width: (10 * 5) + 20;

.card {
    width: $width + px;

    .card-header {
        color: $alternate-color;
    }

    .card-body {
        .card-subtitle {
            font-style: italic;
        }

        .card-link {
            text-decoration: underline;

            &.main-link {
                color: $alternate-color;
            }
        }
    }
}