.card {
    width: 100%;

    .card-header {
        color: green;
    }

    .card-body {
        .card-subtitle {
            font-style: italic;
        }

        .card-link {
            text-decoration: underline;

            &.main-link {
                color: orange;
            }
        }
    }
}